{% extends "guestbook/base.html" %}
{% load i18n %}

{% block content_title %}{% trans "Guestbook" %}{% endblock %}

{% block content %}

<div class="entry-list">
    {% if entry_list %}
        <ul>
        {% for entry in entry_list %}
            <li class="entry_{% cycle 'even' 'odd' %}">
                <div class="entry-header">
                    <div class="entry-name">{{ entry.name }}</div>
                    <div class="entry-date">{{ entry.submit_date|date:"j.m.Y" }}, {{ entry.submit_date|date:"G:i" }}</div>
                </div>
                <div class="entry-message">
                    <span>{% trans "Message" %}:</span>
                    {{ entry.text|linebreaks }}
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "No replies yet" %}
    {% endif %}
</div>

<form action="{% url guestbook-post %}" method="POST">
    {% include "guestbook/guestbookform_include.html" %}
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="{% trans 'Post' %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans 'Preview' %}" />
    </p>
    
</form>
{% endblock content %}