{% extends "guestbook/base.html" %}
{% load i18n %}

{% block content_title %}{% trans "Guestbook" %}{% endblock %}

{% block content %}
<h2>{% trans 'Check your response' %}</h2>

<form action="{% url guestbook-post %}" method="POST">
    {% if form.errors %}
        <p class='errorlist'>{% trans 'There were errors in the response, please correct them below.' %}</p>
    {% else %}
    
    <ul class="entry_even">
        <li>
            <div class="entry-header">
                <div class="entry-name">{{ entry.name }}</div>
            </div>
            <div class="entry-message">
                <span>{% trans "Message" %}:</span>
                {{ entry.text|linebreaks }}
            </div>
        </li>
    </ul>
    {% endif %}
    
    <h2>{% trans 'Edit your entry' %}</h2>
    {% include "guestbook/guestbookform_include.html" %}

    <p class="submit">
    {% if form.errors %}
        <input type="submit" name="submit" class="submit-post" value="{% trans 'Post' %}" />
    {% else %}
        <input type="submit" name="submit" class="submit-post" value="{% trans 'Confirm your entry' %}" />
    {% endif %}
    
    <input type="submit" name="preview" class="submit-preview" value="{% trans 'Preview' %}" />
    </p>
{% endblock content %}
